body{
background: #1f0617;
}

/************Page **********/
div#page{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	border: solid black 1px;
	font-family:"Arial";
	font-size:14px;
	font-weight:normal;
	color:white;
	background:#202020;
}

ul{
	list-style-type:none;
	padding-left:0px;
}
a{
	color:#aaaaaa;
}
a:visited{
	color:#aaaaaa;
}

/************ Header **********/
div#header{
	border: solid 2px black;
	padding:10px;
	background: url('../img/header.png');
	color: white;
	height:184px;
	border-bottom:none;
}

div#header h1 a, div#header p a{
	color:black;
	text-decoration:none;
	}

div#mainMenu{
	padding:0px;
	color:white;
	background: #000;
	height:40px;
	background: url('../img/menu_background.png');
}

div#mainMenu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

div#mainMenu ul li
{
	float: left;
}

div#mainMenu ul li.adminmenu
{
	float: right;
}

div#mainMenu ul li a
{
	
	height: 40px;
	line-height: 40px;
	float: left;
	padding:0 10px;
	display: block;
	border-right: 1px #444 solid;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size:16px;
	
}

div#mainMenu ul li.selected a
{
	color: #666;
}

div#mainMenu ul li a:hover
{
	background: url('../img/menu_background_hover.png');
	color: #666;
}

div#login_logout
{
	font-size:14px;
	background: url('../img/transparent_small.png');
	border: none;
	width:335px;
	float:right;
	padding:6px;
	padding-top:12px;
	height:22px;
}
div#login_logout a{
	color:white;
	text-decoration:none;
}
div#login_logout a:hover{
	color:#ccc;
	text-decoration:underline;
}
div#login_logout span.user_action
{
	float:right;
	padding-right:10px;
}
span.user_info
{
	margin-left:10px;
}

/************ Errors **********/
div.errors{
	color:black;
	border: 1px solid red;
	background-color:#ffcccc;
	padding: 5px;
	margin: 20px;	
	text-transform:uppercase;
	font-size:20px;
	}
div.errors ul{
	list-style: none;
	text-transform:none;
	font-size:16px;
	}

div.errors ul li{
	margin:10px 40px 10px 10px;
	background-color:#ffaaaa;
	padding: 3px 3px 3px 10px;
	border: 1px solid red;
	width: auto;
	}
	
/************ Messages **********/
div.messages{
	border: 1px solid green;
	background-color:#ccffcc;
	padding: 5px;
	margin: 20px;	
	text-transform:uppercase;
	font-size:20px;
	}
div.messages ul{
	list-style: none;
	text-transform:none;
	font-size:16px;
	}

div.messages ul li{
	margin:10px 40px 10px 10px;
	background-color:#aaffaa;
	padding: 3px 3px 3px 10px;
	border: 1px solid green;
	width: auto;
	color:black;
	}			

/************ Content **********/
div#content{
	min-height: 400px;
	background:#202020;
	padding: 15px;
}


/************ Footer **********/
div#footer{
	border: solid 2px black;
	padding:10px;
	background: url('../img/footer.png');
}

/************ Right Menu **********/
div#right_menu{
	float:right;
	border: 2px solid grey;
	width: 200px;
	padding: 10px;
}

div#right_menu ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-left:10px;
}

div#right_menu ul.cat_contents{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-left:0px;
}


div#right_menu li{
	border: 1px solid black;
	text-align: left;  
	margin-top:5px;
	margin-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}



div#right_menu li a{
	text-decoration:none;	
}

div#right_menu li:hover{
	color:white;
	background-color:grey;
}

div#right_menu li.cat_header, iv#right_menu li:hover.cat_header{
	border: 1px solid black;
	text-align: left;  
	margin-top:5px;
	margin-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	background-color: #444;
}
div#right_menu li.cat_contents, iv#right_menu li:hover.cat_contents{
	border: none;
	text-align: left;  
	margin-top:0px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	background-color: #202020;
}


div#right_menu div#search_wait{
	width:30px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
}

/** Wish stuff **/
div.wish_view_frame {
	border:solid 3px grey;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	width:944px;
}

iv.wish_view_frame img{
	height:auto;
	
}

table.list_table{
	width:700px;
	border: solid 2px #555;
}

table.list_table thead tr.header{
	display:block;
	position: relative;
}

table.list_table th{
	text-align:left;
	background:#ccc;
	padding:5px;
	height:20px;
	width:500px;
	color:black;
}

table.list_table tbody{
	height:150px;
	overflow:auto;
	display:block;
	width:100%;
}
table.list_table tr.odd_row{
	background: #eee;
	color:black;
}

table.list_table tr.odd_row td a{
	background: #eee;
	color:#333;
}

table.list_table tbody td{
	padding:1px 5px 1px 5px;
	width:500px;

}

table.wish_edit{
	width:970px;
	height:583px;
}

/**Accordion stuff**/
td.wish_accordion{
	width:315px;
	padding-left:10px;	
}
div.wish_accordion{
	height:550px;
	position: absolute;
	top: 400px;
	width: 300px;
}

div.wish_accordion div.ui-accordion-content{
	height:380px;	
	padding:15px;
}

/**Home screen stuff**/
table.home_table{
	width:900px;
	height:500px;	
}

table.home_table th,
table.home_table tfoot td{
	background:#ccc;
	height:20px;
	width: 300px;
	text-align: left;
	padding: 5px;
	color:black;
}

table.home_table tfoot td a{
	color:black;
}

table.home_table td{
	vertical-align:text-top;
	overflow:auto;
}

table.home_table ul{
	list-style-type: none;
	padding-left:10px;
}

table.home_table ul li{
	margin-top: 10px;
}

/*** Friend stuff ***/
#friend_search_results{
	margin-top:20px;
	border:solid 3px grey;
	background:#ccc;	
	padding:5px;
	text-align:center;
	color:black;
}

#friend_search_results span{
	font-weight:bold;
}

input.ui-autocomplete-loading { 
	background-image: url('../img/wait16trans.gif');
	background-position:right;
	background-repeat:no-repeat;	
}

/** updates **/
.update_time{
	color:grey;
	margin-left:20px;
}

li.update{
	border-bottom: solid 1px grey;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.reg_height{
	height: 400px;
}
.scrollable{
	overflow:auto;
}

.image_thumb{
	color:#666;
	font-size:70%;

}

.file_thumb{
	margin-top:15px;
	color:#666;
	font-size:70%;
}

table.picture_horizontal_list {
	border-collapse:collapse;
	}

table.picture_horizontal_list td{
	width:90px;
	padding-left:10px;
	padding-right:10px;
	border-left: 1px #aaa solid;
	border-right: 1px #aaa solid;
}

div.map{
	width:260px;
	height:300px;
	padding:0;
	margin:0;
	border:#888 1px solid;
	position: relative;
}

input.csson{
	color: black;
}
	
input.cssoff{
	color: grey;
}
/** Admin Menu stuff **/
div#mainMenu div.admin_menu ul li a {
	background: #aaffaa;
	border: solid 1px #448844;
	color: #050;	
}

div#mainMenu div.admin_menu ul li.selected a {
	background: #292;
	border: solid 1px #9e9;
	color: #9e9;	
}

div#mainMenu div.admin_menu ul li a:hover {
	background: #88dd88;
	border: solid 1px #448844;
	color: #050;	
}


div#category_editor{
	border:solid grey 2px;
	padding:10px;
}

a.button{
	border:outset 5px grey;
	background:#bbb;
	padding:5px;
	margin:10px;
	color:black;
	text-decoration:none;
}

a.button:hover, a.button:focus{
	border:inset 5px grey;
	background:#999;
}


label{
	font-weight:bold;
		color:#555;
	}
	
span.radio_wrapper{
	margin-right:20px;
	display: inline-block;
}

span.form_description{
	color:grey;
	font-size:11px;
	background-image: url('../img/moreInfo.png');
	padding-left:10px;
	padding-right:10px;
	padding-top:7px;
	padding-bottom:0px;	
	position:relative;
	top:4px;
}

table.formfields td.formfieldlabel{
	width: 300px;
	padding-bottom:20px;
}

table.wish_view tbody tr td{
	padding-bottom: 15px;
	padding-right: 20px;	
	border-bottom: #ccc 1px solid;
}

div.blockOverlay{
	background: black;
	opacity: 0.6;
}

.tooltip{
	display:none;
	background:#444;
	border:solid 2px black;
	color:#aaa;
	padding:10px;
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
}


	/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(../img/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:640px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(../img/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

	#overlay {
		background-image:url(../img/transparent.png);
		color:#efefef;
		height:450px;
	}
	
	/* container for external content. uses vertical scrollbar, if needed */
	div.contentWrap {
		height:441px;
		overflow-y:auto;
	}

.hasDatepicker{
	margin-right:10px;
}
.ui-datepicker-trigger{
	top:5px;
	position:relative;
}


