

/************Page **********/
div#page{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	border: solid black 1px;
	font-family:"Arial";
	font-size:14px;
	font-weight:normal;
}

ul{
	list-style-type:none;
	padding-left:0px;
}

/************ Header **********/
div#header{
	border: solid 2px black;
	padding:10px;
	background: grey;
}

div#header h1 a, div#header p a{
	color:black;
	text-decoration:none;
	}

div#header div#mainMenu{
	border: solid 2px black;
	padding:10px;
	color:white;
	background: #aaa;
	height:35px;
}

div#header div#mainMenu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

div#header div#mainMenu ul li
{
	float: left;
	margin: 0 0.15em;
}

div#header div#mainMenu ul li a
{
	background: #fff;
	height: 2em;
	line-height: 2em;
	float: left;
	padding:0 10px;
	display: block;
	border: 0.1em solid #dcdce9;
	color: #0d2474;
	text-decoration: none;
	text-align: center;
}

div#header div#mainMenu ul li.selected a
{
	background: #bbf;
	height: 2em;
	line-height: 2em;
	float: left;
	padding:0 10px;
	display: block;
	border: 0.1em solid #dcdce9;
	color: #0d2474;
	text-decoration: none;
	text-align: center;
}

div#header div#mainMenu ul li a:hover
{
	background: #aaf;
	color: #6d84c4;
}

div#header div#login_logout
{
	font-size:14px;
	background-color: #AAAAAA;
	border: black 1px solid;
	width:235px;
	float:right;
	padding:2px;
}
div#header div#login_logout span.user_action
{
	float:right;
}
span.user_info
{
	margin-left:10px;
}

/************ Errors **********/
div.errors{
	border: 1px solid red;
	background-color:#ffcccc;
	padding: 5px;
	margin: 20px;	
	text-transform:uppercase;
	font-size:20px;
	}
div.errors ul{
	list-style: none;
	text-transform:none;
	font-size:16px;
	}

div.errors ul li{
	margin:10px 40px 10px 10px;
	background-color:#ffaaaa;
	padding: 3px 3px 3px 10px;
	border: 1px solid red;
	width: auto;
	}
	
/************ Messages **********/
div.messages{
	border: 1px solid green;
	background-color:#ccffcc;
	padding: 5px;
	margin: 20px;	
	text-transform:uppercase;
	font-size:20px;
	}
div.messages ul{
	list-style: none;
	text-transform:none;
	font-size:16px;
	}

div.messages ul li{
	margin:10px 40px 10px 10px;
	background-color:#aaffaa;
	padding: 3px 3px 3px 10px;
	border: 1px solid green;
	width: auto;
	}			

/************ Content **********/
div#content{
	min-height: 400px;
	background: white;
	padding: 15px;
}


/************ Footer **********/
div#footer{
	border: solid 2px black;
	padding:10px;
	background: grey;
}

/************ Right Menu **********/
div#right_menu{
	float:right;
	border: 2px solid grey;
	width: 200px;
	padding: 10px;
}

div#right_menu ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div#right_menu li{
	border: 1px solid black;
	text-align: center;  
}

div#right_menu li a{
	text-decoration:none;
}

/** Wish stuff **/
div.wish_view_frame {
	border:solid 3px grey;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

table.list_table{
	width:700px;
}

table.list_table thead tr.header{
	display:block;
	position: relative;
}

table.list_table th{
	text-align:left;
	background:#ccc;
	padding:5px;
	height:20px;
	width:500px;
}

table.list_table tbody{
	height:150px;
	overflow:auto;
	display:block;
	width:100%;
}
table.list_table tr.odd_row{
	background: #eee;
}

table.list_table tbody td{
	padding:1px 5px 1px 5px;
	width:500px;

}

table.wish_edit{
	width:970px;
	height:583px;
}

/**Accordion stuff**/
td.wish_accordion{
	width:315px;
	padding-left:10px;	
}
div.wish_accordion{
	height:550px;	
}

div.wish_accordion div.ui-accordion-content{
	height:380px;	
	padding:15px;
}

/**Home screen stuff**/
table.home_table{
	width:900px;
	height:500px;	
}

table.home_table th,
table.home_table tfoot td{
	background:#ccc;
	height:20px;
	width: 300px;
	text-align: left;
	padding: 5px;
}

table.home_table td{
	vertical-align:text-top;
	overflow:auto;
}

table.home_table ul{
	list-style-type: none;
	padding-left:10px;
}

table.home_table ul li{
	margin-top: 10px;
}

/*** Friend stuff ***/
#friend_search_results{
	margin-top:20px;
	border:solid 3px grey;
	background:#ccc;	
	padding:5px;
	text-align:center;
}

#friend_search_results span{
	font-weight:bold;
}

input.ui-autocomplete-loading { 
	background-image: url('../img/wait16trans.gif');
	background-position:right;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

/** updates **/
.update_time{
	color:grey;
	margin-left:20px;
}

li.update{
	border-bottom: solid 1px grey;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.reg_height{
	height: 400px;
}
.scrollable{
	overflow:auto;
}

